<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        var car ={
            type:"fioator",
            model:"911",
            color:"gred",
            start:function (){
                console.log("啟動!!")
            },
            stop:function (){
                alert("停車!!");
            }

        };
        console.log(car.start())
        console.log(car.type)
        console.log(car.model)
        console.log(car.color)
        console.log(car)
        console.log(JSON.stringify(car))
        console.log(car.stop())
        var carm = {
            type: "fioatorm",
            model: "911m",
            color: "gredm",

        };

    </script>
</head>
<body>

</body>
</html>